@model IEnumerable<Person>
@{  Layout = "_Layout"; }

<form id="addform" asp-action="AddPerson" method="post">
    <div class="form-group">
        <label for="Name">Имя:</label>
        <input class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label for="Post">Должность:</label>
        <input class="form-control" name="Post" />
    </div>
    <div class="form-group">
        <label for="Phone">Телефон:</label>
        <input class="form-control" name="Phone" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
    </div>
</form>

<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>ID</th><th>Имя</th><th>Должность</th><th>Телефон</th></tr></thead>
    <tbody>
        @foreach (var r in Model) {
        <tr>
            <td>@r.PersonId</td>
            <td>@r.Name</td>
            <td>@r.Post</td>
            <td>@r.Phone</td>
        </tr>
        }
    </tbody>
</table>
